name: Build
on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  main:
    name: GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc:
          - "9.8.4"
          - "9.14"
        include:
          - ghc: "9.14"
            os:  macos-latest
          - ghc: "9.14"
            os:  windows-latest

    steps:
    - uses: actions/checkout@v6

    - uses: haskell-actions/setup@v2
      id: setup
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: "latest"
        cabal-update: true

    - uses: actions/cache@v5
      name: cache cabal stuff
      with:
        path: |
          ${{ steps.setup.outputs.cabal-store }}
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}

    - name: cabal version
      run: |
        cabal --version

    - name: install alex & happy
      run: |
        cd ../
        cabal install alex happy
