# 2026-02-09 PJ:
# --------------
# This code is inspired by alex ci: https://github.com/haskell/alex/blob/master/.github/workflows/ci.yml
name: ci-sandbox
on:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  main:
    name: GHC ${{ matrix.ghc }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        ghc:
          - "9.8.4"
          - "9.14"
        include:
          - ghc: "9.14"
            os:  macos-latest
          - ghc: "9.14"
            os:  windows-latest

    steps:
    - uses: actions/checkout@v6

    - uses: haskell-actions/setup@v2
      id: setup
      with:
        ghc-version: ${{ matrix.ghc }}
        cabal-version: "latest"
        cabal-update: true

    - uses: actions/cache@v5
      name: Cache cabal stuff
      with:
        path: |
          ${{ steps.setup.outputs.cabal-store }}
          dist-newstyle
        key: ${{ runner.os }}-${{ matrix.ghc }}

    - name: Cabal version
      run: |
        cabal --version

    - name: Install alex & happy
      run: |
        cd ../
        cabal install alex happy

    - name: Generate source distribution file
      run: |
        cabal sdist --ignore-project --output-directory .

    - name: Extract source code from distribution file
      run: |
        cabal get wyvern-diagrams-*.tar.gz

    - name: Build
      run: |
        cd wyvern-diagrams-*/
        cabal build all --enable-benchmarks

    - name: Cabal check
      run: |
        cd wyvern-diagrams-*/
        cabal check
